@import '../src/styles/base.css';
@import '../src/styles/components.css';
@import '../src/styles/flex.css';
@import '../src/styles/font.css';
@import '../src/styles/utilities.css';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
